{
  "presets": [
    "node6-es6",
    "react",
    ],
  "plugins": [
  "transform-decorators-legacy",
  "transform-class-properties",
  "syntax-async-functions"
],
"env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
